{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    "react-native-reanimated/plugin",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@services": "./src/services",
          "@hooks": "./src/hooks",
          "@context": "./src/context",
          "@utils": "./src/utils",
          "@i18n": "./src/i18n"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
